:root {
    --color-primary: #901C1C;
    --color-secondary: #DB8876;
    --color-tertiary: #D3573C;
    --color-dark-medium: #757575;
    --color-light: #fff;
}

#photographer-name {
    color: var(--color-tertiary);
    font-size: 63px;
    margin: 0;
}

#photographer-location {
    color: var(--color-primary);
    margin: 0;
}

#photographer-description {
    color: var(--color-dark-medium);
}

#contact_modal {
    display: none;
    position: absolute;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 80%;
    max-width: 30%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
}

.modal header {
    align-items: flex-start;
    width: 100%;
    height: auto;
    flex-direction: column;
}

.modal header img {
    cursor: pointer;
    position: fixed;
    right: 4%;
}

.modal header h1 {
    margin: 0;
    font-size: 45px;
}

#contact_Modal_Name {
    font-size: 45px;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

#orderBy {
    margin-left: 98px;
}

#orderByTitle {
    color: #fff;
    background-color: #901C1C;
    padding: 1%;
}

#orderByTitle option {
    padding: 1%;
}

.framed {
    position: fixed;
    bottom: 0;
    right: 2%;
    width: 246px;
    height: 41px;
    background-color: #DB8876;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: space-around;
}

#media-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 74px;
    margin-right: 74px;
}

.media-card {
    width: 30%;
    margin: 10px;
    box-sizing: border-box;
}

.media-card span {
    display: block;
    overflow: hidden;
}

.media-card img {
    display: block;
    width: 100%;
    height: 393px;
    object-fit: cover;
    border-radius: 2%;
}

.media-card video {
    display: block;
    width: 100%;
    height: 393px;
    object-fit: cover;
    border-radius: 2%;
}

.media-card figcaption {
    padding: 10px;
    text-align: center;
    font-size: 16px;
    margin-top: -5px;
    display: flex;
    justify-content: space-between;
}

.media-card figcaption p {
    margin: 0;
    color: #333;
}

.media-card figcaption i {
    color: red;
    margin-left: 5px;
}

.likes {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#lightbox {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: white;
    display: none;
    justify-content: center;
    align-items: center;
}

#lightbox.active {
    display: flex;
}

#lightbox_container {
    max-width: 1400px;
    width: 100%;
    display: grid;
    grid-template-rows: auto minmax(0, 80vh); /* Utilisation de minmax pour définir une taille maximale en hauteur */
}

#lightbox_close {
    font-size: 50px;
    text-align: right;
    cursor: pointer;
}

#lightbox_content {
    display: grid;
    grid-template-columns: auto 1fr auto;
}

#lightbox_image {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#lightbox_image img,
#lightbox_image video {
    max-width: 100%;
    max-height: 98%;
    width: auto;
    height: auto;
    object-fit: contain; /* Maintient les proportions de l'image */
}

.lightbox_arrow {
    font-size: 60px;
    background-color: transparent;
    outline: 0;
    border: 0;
    cursor: pointer;
    color: var(--color-primary);
}

.lightbox_arrow:focus {
    border: 2px solid black;
}

 #lightbox_container #lightbox_close {
    font-size: 50px;
    text-align: right;
    color: var(--color-primary);
    border: none;
    background: none;
    cursor: pointer;
}

.lightbox_title {
    align-self: flex-start;
    margin-left: 139px;
    color: var(--color-primary);
    padding: 5px 10px;
}
