@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

:root{
    --color-primary: #901C1C;
    --color-secondary: #DB8876;
    --color-tertiary: #D3573C;
    --color-dark-medium: #757575;
    --color-light: #fff;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.photographer_section article a {
    text-decoration: none;
}

.photographer_section article h2 {
    font-size: 36px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.photographer_section article p {
    margin: 2px;
    color: #333; 
}
